<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{1130,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1130,200}}</string>
                <key>sourceSize</key>
                <string>{1130,200}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,204},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,146},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>box-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,179},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>box-silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,104},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>btn_claim.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,204},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>btn_claimx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,54}}</string>
                <key>sourceSize</key>
                <string>{238,54}</string>
            </dict>
            <key>btn_heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,204},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>btn_juhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,204},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>btn_lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,204},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>btn_level-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,204},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>btn_level_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,204},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>chanzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,104},{63,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chanzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,104},{65,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chanzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,171},{65,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chuizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,169},{61,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chuizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,104},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chutou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,171},{65,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chutou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,104},{65,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>chutou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,171},{65,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dianzuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,171},{65,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dianzuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,104},{65,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,170},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,204},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{41,55}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>icon_huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,104},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>icon_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,128},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,204},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{51,47}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>img_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{10,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,34}}</string>
                <key>sourceSize</key>
                <string>{10,34}</string>
            </dict>
            <key>img_jy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,212},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>img_jy_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>img_jy_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,234},{15,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,59}}</string>
                <key>sourceSize</key>
                <string>{15,59}</string>
            </dict>
            <key>img_shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,204},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>img_tanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,178},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>img_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,104},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>j_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,86},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>j_1_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,146},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>j_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>j_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,104},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>s_1_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,104},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>s_2_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,104},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,204},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t_0_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,204},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t_1_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,204},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t_2_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,204},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>t_3_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,204},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ui_tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,179},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{1889,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36604c2dce706f2c69a915713baaa3f:1/1$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
